html {
    font-size: 90%;
}

body {
    color: #2b2b2b;
    font-family: sans-serif;
    margin: 0 auto;
    padding-top: 5rem;
}

.carousel {
    position: relative;
}

.carousel-with-margins {
    margin-left: 15%;
    margin-right: 15%;
}
